{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="{{ 'figure_skating'|trans }}">
                        {{ 'figure_skating'|trans }}
                    </a>
                </p>
                <p class="extra">
                    <a href="{{ url('main_index') }}" title="{{ 'soloists'|trans }}">
                        {{ 'soloists'|trans }}
                    </a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">{{ 'open.nav'|trans }}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{{ url('rules_index') }}" title="{{ 'menu.rules'|trans }}">
                                            {{ 'menu.rules'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('video_index') }}" title="{{ 'menu.performances'|trans }}">
                                            {{ 'menu.performances'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('skater_index') }}" title="{{ 'menu.skaters'|trans }}">
                                            {{ 'menu.skaters'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="admin">
                                <a class="AdminPanel" href="{{ url('user_index') }}" title="{{ 'label.admin'|trans }}">
                                    {{ 'label.admin'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a  class="aLogIn" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                <a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">
                                    {{ app.user.username }}
                                </a>
                                ,
                            </p>
                        {% else %}
                            <a class="aLogIn" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a class="aLogIn" href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row rule">
                <div class="shadow-rules">
                        <div class="title">
                            {{ 'menu.rules'|trans }}
                        </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active"><a href="#1zakladka" role="tab" data-toggle="tab">Informacje ogólne</a></li>
                        <li><a href="#2zakladka" role="tab" data-toggle="tab">Zasady techniczne</a></li>
                        <li><a href="#3zakladka" role="tab" data-toggle="tab">Ocenianie</a></li>
                        <li><a href="#4zakladka" role="tab" data-toggle="tab">Elementy techniczne</a></li>
                        <li><a href="#5zakladka" role="tab" data-toggle="tab">Komponenty programu</a></li>
                    </ul>
                    <!-- Zawartość zakładek -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="1zakladka">
                            <p class="title">{{ 'label.championship'|trans }}</p>
                            <p>
                                Każdy występ składa się z programu krótkiego (SP) i dowolnego (FS).  Mogą odbyć się one tego same dnia, pod warunkiem co najmniej 4-godzinnej przerwy pomiędzy nimi. Zasada ta nie dotyczy zawodów Grand Prix i zawodów ISU (Mistrzostw Europy, Mistrzostw Czterech Kontynentów oraz Mistrzostw Świata). Podczas tych turniejów programy odbywają się w innych dniach, ale muszą zostać ukończone w przeciągu trzech.  Maksymalnie czas trwania zawodów ISU to 7 dni. Przed ich rozpoczęciem muszą zostać zapewnione 2 dni na ćwiczenia praktyczne dla zawodników.  Łyżwiarze dopuszczeni do Mistrzostw Świata muszą być członkami ISU (Międzynarodowej Unii Łyżwiarskiej). Zawodnicy mogący konkurować w Mistrzostwach Europy muszą należeć do europejskiego ISU, a w Mistrzostwach Czterech Kontynentów startują sportowcy z pozaeuropejskiego ISU.
                            <p class="title">Przebieg zawodów</p>
                            <p>
                                Przed rozpoczęciem zawodów każdy uczestnik musi dostarczyć osobne płyty CD z nagraną muzyką do każdego z programów oraz listę elementów, które planują wykonać podczas swojego występu. Kolejność zawodników podczas programu krótkiego jest rozstrzygana poprzez losowanie lub zależy od miejsc, jakie łyżwiarze zajęli podczas poprzednich ważnych zawodów. Sposób, jaki zostanie zastosowany, powinien zostać wcześniej podany przez organizatorów. Tylko osoby, które zajęły miejsce z przedziału 1-24 zostaną zakwalifikowani do programu dowolnego. W przypadku remisu na miejscu dwudziestym czwartym wszyscy łyżwiarze na tej pozycji zostaną dopuszczeni do drugiego etapu. Kolejność, w jakiej wystąpią, zależeć będzie od punktów, które zdobyli podczas programu krótkiego.
                            <p>
                                Podczas obu programów zawodnicy dzieleni są na równe grupy, a ta zawierająca uczestników z najmniejszą liczbą punktów jedzie pierwsza, następna druga itd. Jeśli jacyś zawodnicy mają taką samą liczbę punktów po programie krótkim, powinni jechać w tej samej grupie w dowolnym.
                            <p>
                                W przypadku zawodów ISU lub Olimpiady Zimowej zawodnicy z dwóch ostatnich grup (tj. najlepszej i drugiej najlepszej) zostają podzieleni na 4 podgrupy.  W pierwszej znajdą się łyżwiarze z miejsc 1, 2 i 3, w drugiej 4, 5, 6, w trzeciej 7, 8, 9 i w czwartej 10, 11 i 12. Kolejność, w jakiej będą występować, zostanie wybrana poprzez losowanie pomiędzy członkami każdej podgrupy, a grupy będą startować od czwartej do pierwszej.
                            <p>
                                Jeśli jakiś uczestnik zdecyduje się na wycofanie z drugiego etapu, liczba zawodników w programie dowolnym zmniejszy się o jeden. Jeśli zaś zawodnik zostanie zdyskwalifikowany, jego miejsce zajmie łyżwiarz, który początkowo nie miał wystarczająco dużo punktów, by startować w następnym segmencie.
                            <p>
                                Przed rozpoczęciem występów odbywa się rozgrzewka dla solistów z danej grupy. Trwa ona 6 minut i podczas niej tylko sześciu zawodników może przebywać na lodzie.
                            <p class="title">Opóźniony start lub wznowienie wystąpienia</p>
                            <p>
                                Dozwolone jest rozpoczęcie programu od początku w sytuacji, gdy jakość odtwarzanej muzyki jest niewystarczająca. Zawodnik musi powiadomić o tym sędziego głównego w ciągu 30 sekund od rozpoczęcia występu.
                            <p>
                                W przypadku problemów podczas programu niezwiązanych z solistą, spowodowanych np. przez oświetlanie czy stan lodowiska, sędzia główny zarządza przerwę. Uczestnik powinien kontynuować swój występ od momentu przerwania natychmiast po usunięciu przeszkód.
                            <p>
                                Jeżeli łyżwiarz dozna kontuzji podczas pokazu lub wystąpią inne niesprzyjające warunki związane z nim lub z jego sprzętem, zawodnik powinien przerwać występ. Jeśli niedogodności zostaną naprawione bezzwłocznie i solista wznowi jazdę na łyżwach, sędzia główny odliczy jedynie karę za przerwania programu. Jeśli jednak występ nie zostanie wznowiony w ciągu 40 sekund oraz problem nie zostanie zgłoszony sędziemu, zawodnik zostaje uznany za wycofanego. W wypadku gdy uczestnik zgłosi się do arbitra, mogą zostać przyznane mu dodatkowe trzy minuty, po upływie, których jeśli solista nie wznowi programu, również zostaje uznany za wycofanego.
                            <p>
                                W odniesieniu do niekorzystnych warunków związanych z łyżwiarzem lub jego sprzętem dozwolona jest tylko jedna przerwa. W przypadku drugiego zatrzymania dany zawodnik zostanie wycofany.
                        </div>
                        <div class="tab-pane" id="2zakladka">
                            <p class="title">Strój</p>
                            <p>
                                Stroje zawodników powinny być odpowiednie dla zawodów sportowych — nie mogą być nadmiernie skąpe czy krzykliwe. Mężczyźni muszą mieć spodnie pełnej długości. Akcesoria i rekwizyty są niedozwolone. Zawodnik, którego odzież narusza te zasady, zostanie ukarany potrąceniem punków. Dekoracje na kostiumach nie mogą odpaść podczas występu. W przypadku gdy część stroju lub dekoracji upadnie na lód, uczestnikowi zostaną odjęte punkty.
                            <p class="title">Czas</p>
                            <p>
                                Łyżwiarze rozpoczynają swój program nie później niż 30 sekund po wyczytaniu ich imienia i nazwiska. Jeśli po upływie 30 sekund zawodnik nie przyjął pozycji startowej, zostaną odjęte punkty od jego końcowego wyniku. Jeśli upłynęło 60 sekund, uznaje się, że uczestnik wycofał się z zawodów.
                            <p>
                                Czas występu mierzony jest od momentu, w którym solista zacznie się poruszać. Program krótki powinien trwać 2 minuty i 40 sekund, program dowolny zaś 4 i pół minuty. Od sezonu 2018 – 2019 długość programu dowolnego zostanie skrócona o 30 sekund. Zawodnicy mogą zakończyć swój pokaz 10 sekund przed lub 10 sekund po wymaganym czasie.  Jeśli łyżwiarz nie zakończy swojego występu w tym okresie, zostaną odjęte punkty, 1 za każde brakujące lub dodatkowe 5 sekund. Jeśli długość występu przekroczy trzydzieści sekund od wyznaczonego czasu, całość nie będzie oceniana.
                            <p class="title">Upadek</p>
                            <p>
                                Upadek to utrata kontroli przez zawodnika, w wyniku której większość jego ciężaru ciała znajduję się na lodzie, wspierana dłonią, kolanem, plecami, pośladkiem czy ramieniem. Za upadki odejmowane są punkty od końcowego wyniku za dany program.
                            <p class="title">Odejmowane punkty</p>
                            <p>
                                -  1.0 za każde brakujące lub dodatkowe 5 sekund występu,<br>
                                -  2.0 za każdy niedozwolony element/ruch,<br>
                                -  1.0 za posiadanie rekwizytu lub za nieodpowiedni stój,<br>
                                -  1.0 za element stroju, który upadł na lód,<br>
                                -  1.0 za pierwszy i drugi upadek, - 2.0 za trzeci i czwarty, - 3.0 za piąty i każdy następny,<br>
                                -  1.0 za rozpoczęcie występu po 30 sekundach od wyczytania imienia i nazwiska łyżwiarza,<br>
                                -  1.0 za przerwę w programie trwającą od 10 do 20 sekund, - 2.0 za przerwę od 20 do 30 sekund oraz - 3.0 za przerwę od 30 do 40 sekund,<br>
                                -  5.0 za przerwanie programu i poproszenie sędziego głównego o dodatkowe 3 minuty.
                            </p>
                            <p class="title">Program krótki</p>
                            <p>
                                Program krótki solistów składa się z 7 wymaganych elementów. Jeśli niewymagany element lub dodatkowy element został wykonany przez zawodnika zamiast wymaganego elementu, wykonany element nie będzie liczony.
                            </p><p>
                                Elementy obowiązkowe w kategorii seniorów:<br>
                                -  podwójny lub potrójny Axel,<br>
                                -  potrójny lub poczwórny skok bezpośrednio poprzedzony krokami,<br>
                                -  kombinacja skoków składająca się z podwójnego i potrójnego skoku, lub z dwóch potrójnych skoków, lub z poczwórnego z podwójnym lub potrójnym skokiem,<br>
                                -  Flying Spin,<br>
                                -  Camel Spin lub piruet siadany z tylko jedną zmianą stopy,<br>
                                -  kombinacja piruetów z tylko jedną zmianą stopy,<br>
                                -  sekwencja kroków wykorzystująca całą powierzchnię lodu.
                            </p>
                            <p class="title">Program dowolny</p>
                            <p>
                                Program dowolny solistów może składać się z:<br>
                                -  maksymalnie 8 elementów skokowych (jeden z nich musi być skokiem typu Axel),<br>
                                -  maksymalnie 3 piruetów, z których jeden musi być kombinacją piruetów, jeden musi być Flying Spinem oraz jeden musi być piruetem wykonywanym bez zmiany pozycji,<br>
                                -  maksymalnie 1 sekwencji kroków,<br>
                                -  maksymalnie 1 sekwencji choreograficznej.
                            </p>
                            <p>
                                Od sezonu 2018 – 2019 maksymalna liczba dozwolonych elementów skokowych będzie wynosiła 7.
                            </p>
                            <p>
                                Zawodnik ma pełną swobodę wyboru elementów do swojego programu dowolnego. Jednak wszystkie elementy muszą być ze sobą połączone przez kroki o różnym charakterze, wykorzystując przy tym całą powierzchnię lodu. Wszelkie dodatkowe elementy lub element przekraczające określoną ilość dozwolonych elementów nie będą liczone do wyniku zawodnika. Uwzględniona zostaje tylko pierwsza próba (lub dozwolona liczba prób) elementu.
                            </p>
                        </div>
                        <div class="tab-pane" id="3zakladka">
                            <p class="title">Ogólnie</p>
                            <p>
                                Wynik łyżwiarza za dany program to suma punktów za elementy techniczne i komponenty, z uwzględnieniem minusowych punktów za wykroczenia (patrz zakładka z zasadami technicznymi). Elementy techniczne to skoki, piruety oraz sekwencja kroków. W przypadku komponentów oceniane są umiejętności łyżwiarza, przejścia między elementami i ich wykonanie, kompozycja oraz interpretacja muzyki.
                            </p><p>
                                Uczestnik z najwyższym wynikiem wygrywa zawody. W przypadku gdy dwóch lub więcej zawodników uzyska taki samą punktację za program krótki, wygrywa ten, który ma więcej punktów za elementy techniczne. Jeśli zaś remis zdarzy się w programie dowolnym, to wygrywa ten, który ma wyższy wynik za komponenty programu, a jeśli dojdzie do niego po zsumowaniu wyników za program krótki i dowolny, zawodnik z większą ilością punktów za program dowolny wygrywa.
                            </p>
                            <p class="title">Elementy techniczne</p>
                            <p>
                                Każdy element programu (tj. wymagany element programu) krótkiego lub dowolnego jest oceniany przez każdego sędziego w skali od  -3 do 3. Od sezonu 2018 – 2019 skala zmieni się i będzie od -5 do 5. Najwyższa i najniższa nota są pomijane, a do pozostałych podstawia się wartości zgodnie z tabelą <a href="https://www.isu.org/docman-documents-links/isu-files/documents-communications/isu-communications/14352-isu-communication-2089/file" title="Scale of Values ">Scale of Values</a> (SoV) opublikowaną przez ISU. Następnie wylicza się średnią, która będzie stanowić Ocenę Jakości Wykonania (ang. Grade of Execution – GOE) danego elementu. Ostateczna punktacja za element to suma Oceny Jakości Wykonania i wartości podstawowej (przedstawionej w SoV). Wartość oceny za wszystkie elementy techniczne to suma ocen za poszczególne elementy. Dodatkowe elementy lub elementy, które wykraczają poza dozwoloną liczbę prób wykonania danego elementu, nie będą liczone do wyniku uczestnika.
                            <p>
                                Skoki mogą być wykonywane pojedynczo, w kombinacjach (kilka skoków jeden po drugim) lub w sekwencjach (kilka skoków połączonych obrotami, krokami itd.). Kombinacja skoków jest oceniana jako całość poprzez zsumowanie wartości podstawowych skoków zawartych w kombinacji oraz Oceny Jakości Wykonania za najtrudniejszy skok z kombinacji. Sekwencje skoków są również oceniane jako całość, ale sumowane są wartości podstawowe dwóch najwyżej punktowanych skoków. Następnie są one mnożone przez 0,8 oraz dodawane do Oceny Jakości Wykonania za najtrudniejszy skok w sekwencji.
                            </p><p>
                                Dodatkowo wartości podstawowe elementów skokowych wykonanych w drugiej połowie programu krótkiego lub dowolnego mnożone są przez czynnik 1.1.
                            </p>
                            <p class="title">Komponenty programu</p>
                            <p>
                                Komponenty programu oceniane są w skali od 0.25 do 10. Punktacja za komponent jest uzyskiwana poprzez obliczenie średniej wyników sędziów za dany komponent — najwyższa oraz najniższa nota są pomijane. Następnie ocena mnożona jest przez czynnik 1.0 dla programu krótkiego oraz 2.0 dla programu dowolnego. Wyniki za komponenty są dodawane do siebie oraz tworzą Punktację za Komponenty Programu (ang. Program Component Score).
                            </p>
                            <p class="title">Niedozwolone elementy / ruchy</p>
                            <p>
                                Każdy niedozwolony element bądź ruch będzie karany utratą punktów. Jeśli wystąpi on podczas wykonywania innego elementu, oprócz odjęcia punktów, zostanie policzona wartość podstawowa za główny element. Niedozwolone są skoki typu salto, leżenie na lodzie oraz długotrwale lub nieruchome klęczenie na obu kolanach.
                            </p>
                        </div>
                        <div class="tab-pane" id="4zakladka">
                            <p class="title">Skoki</p>
                            <p>
                                Skoki mogą być wykonywane pojedynczo, w kombinacjach (kilka skoków jeden po drugim) lub w sekwencjach (kilka skoków połączonych obrotami, krokami itd.). W kombinacjach moment zakończenia jednego skoku musi być początkiem drugiego. Dozwolone jest wykonanie jednego pełnego obrotu pomiędzy skokami w kombinacji. Jeśli skoki zostaną połączone niewymaganym elementem (tj. nieznajdującym się na liście elementów obowiązkowych w danym programie), całość uznana będzie za sekwencję skoków.
                            </p><p>
                                Sekwencje skoków mogą składać się z dowolnej liczby skoków z dowolną liczbą obrotów, które mogą być połączone obrotami, krokami bądź skokami, które nie są obowiązkowe w danym programie. Sekwencja składająca się z tylko jednego obowiązkowe skoku oraz innych niewymaganych skoków, będzie uważana za pojedynczy skok.
                            </p><p>
                                W programie dowolnym mogą być maksymalnie trzy kombinacje lub sekwencje kroków. Jedna kombinacja może składać się z maksymalnie trzech skoków, a pozostałe dwa z dwóch. Ten sam podwójny skok nie może być wykonany więcej niż dwa razy, nie zależnie czy zostały one wykonane pojedynczo czy w sekwencji / kombinacji. Spośród wszystkich potrójnych i poczwórnych skoków tylko dwa można wykonać dwukrotnie. Jeśli przynajmniej jeden z nich został wykonany w kombinacji bądź sekwencji, oba skoki ocenianie są w normalny sposób. Jeśli jednak oba skoki były skokami pojedynczymi, drugi ze skoków otrzyma jedynie 70% swojej wartości. Potrójne i poczwórne skoki nie mogą być wykonane więcej niż dwa razy.
                            </p><p>
                                Skoki w kolejność od najłatwiejszego (i najmniej punktowanego) do najtrudniejszego: Toeloop, Salchow, Loop, Flip, Lutz, Axel.
                            </p><p>
                                Zobacz, na czym polega różnica między skokami → <a href="https://www.youtube.com/watch?v=iKulecXlyFs" title="Filmik z Jasonem Brownem">filmik z Jasonem Brownem</a>.
                            </p>
                            <p class="title">Piruety</p>
                            <p>
                                Są trzy podstawowe pozycje:<br>
                                -  <a href="https://www.youtube.com/watch?v=clSmgMKk9Cs" title="Camel Spin">Camel Spin</a> (wolna noga znajduje się z tyłu, z kolanem ponad poziom biodra),<br>
                                -  <a href="https://www.youtube.com/watch?v=EHjE-1I7Fw8" title="Piruet Siadany">Piruet Siadany</a>,<br>
                                -  <a href="https://www.youtube.com/watch?v=q-bOPpjIEcc" title="Piruet  Pionowy">Piruet  Pionowy</a> (każda pozycja z jedną prostą lub lekko zgiętą nogą opartą o lód).
                            </p>
                            <p>
                                Inne odmiany piruetów:<br>
                                -  <a href="https://www.youtube.com/watch?v=3zN-xIB9noA" title="Layback Spin">Layback Spin</a> (pionowy piruet, w którym głowa i ramiona są odchylone do tyłu, a plecy wygięte),<br>
                                -  <a href="https://www.youtube.com/watch?v=3j7UBEd3OUs" title="Flying Spin">Flying Spin</a> (piruet po naskoku, mogą być różne rodzaje np. Flying Sit Spin),<br>
                                -  Sideways Leaning Spin (pionowy piruet, w którym głowa i ramiona są pochylone na bok oraz górna część ciała jest wygięta).
                            </p>
                            <p>
                                Piruet z mniej niż trzema obrotami nie jest zaliczany jako piruet a jako część choreografii zawodnika. Jeśli wykonywany jest Flying Spin lub piruet w jednej pozycji to minimalna ilość obrotów podczas całego piruetu to 6. Jeśli wykonywany jest piruet ze zmianą pozycji, muszą zostać wykonane co najmniej dwa piruety na pozycję. W przypadku niespełnienia tego wymogu pozycja nie jest liczona.
                            </p>
                            <p>
                                Dopuszczalne są zmiany położenia głowy, ramion lub wolnej nogi, a także zmiany prędkości. Zmiana stopy w trakcie piruetu musi być poprzedzona piruetem z co najmniej trzema obrotami. Jeśli zawodnik upadnie, wchodząc w piruet, może wykonać jeszcze raz nieudany element (w celu zapełnienia czasu), ale nie będzie on liczony do oceny uczestnika.
                            </p><p>
                                Kombinacja piruetów musi zawierać co najmniej dwie różne podstawowe pozycje z co najmniej dwoma obrotami w każdej. Aby otrzymać pełną wartość punktów, kombinacja piruetów musi obejmować trzy podstawowe pozycje. Zmiana na pozycję inną niż podstawowa nie jest uważana za zmianę pozycji. Zmiana stopy może być wykonana poprzez skok lub krok. Zmiana stopy i zmiana pozycji mogą wystąpić w tym samym czasie lub osobno. Minimalna liczba obrotów dla kombinacji piruetów to 10.
                            </p><p>
                                Trudność piruetu rośnie wraz z liczbą obrotów.
                            </p>
                            <p class="title">Sekwencje kroków</p>
                            <p>
                                Sekwencje kroków powinny być wykonywane zgodnie z muzyką. Dozwolone są krótkie przerwy w programie, o ile mają pokrycie w melodii. Sekwencje kroków muszą w pełni wykorzystywać powierzchnię lodowiska.
                            </p>
                            <p class="title">Sekwencje choreograficzne</p>
                            <p>
                                Sekwencje choreograficzne składają się z dowolnych ruchów, takich jak kroki, zakręty, spirale, arabeski, dowolne skoki z maksymalnie dwoma obrotami, piruety itd. Elementy zawarte w sekwencji choreograficznej nie są liczone jako elementami wymagane w programie. Nie ma narzuconego schematu, jak powinna wyglądać taka choreografia, ale powinna być ona widoczna na tle innych elementów. Sekwencja choreograficzna jest oceniana przez sędziów jako element techniczny, nie komponent.
                            </p>
                        </div>
                        <div class="tab-pane" id="5zakladka">
                            <p class="title">Umiejętności łyżwiarskie</p>
                            <p>
                                Definiowane jako ogólna poprawność i pewność wykonywanych elementów, płynne ruchy oraz dostosowywanie prędkości jazdy bez większego wysiłku. Oceniając je sędziowie, biorą pod uwagę:<br>
                                -  stosowanie głębokich krawędzi, kroków i zakrętów,<br>
                                -  równowagę i precyzję umieszczania stóp,<br>
                                -  płynność ruchów,<br>
                                -  zróżnicowanie używanej siły i prędkości,<br>
                                -  umiejętność jazdy w wielu kierunkach,<br>
                                -  umiejętność jazdy na jednej łyżwie.
                            </p>
                            <p class="title">Przejścia</p>
                            <p>
                                Różnorodne i celowe wykorzystanie skomplikowanej pracy nóg, pozycji oraz ruchów, by łączyć wszystkie elementy programu. Sędziowie biorą pod uwagę:<br>
                                -  ciągłość ruchów pomiędzy jednym elementem a drugim,<br>
                                -  różnorodność przejść,<br>
                                -  trudność,<br>
                                -  jakość.
                            </p>
                            <p class="title">Wykonanie</p>
                            <p>
                                Zaangażowanie fizyczne i emocjonalne zawodnika w wykonanie programu. Sędziowie biorą pod uwagę:<br>
                                -  przejrzystość ruchów,<br>
                                -  różnorodność ruchów,<br>
                                -  indywidualność i osobowość zawodnika.
                            </p>
                            <p class="title">Kompozycja</p>
                            <p>
                                Celowo opracowany i oryginalny układ ruchów zgodny z muzyką i przestrzenią. Pod uwagę jest brany:<br>
                                -  cel, wizja, nastrój,<br>
                                -  wykorzystanie powierzchni lodu,<br>
                                -  oryginalność kompozycji,<br>
                                -  dostosowanie ruchów do rytmu muzyki.
                            </p>
                            <p class="title">Interpretacja muzyki</p>
                            <p>
                                Przekształcenie rytmu, charakteru i treści melodii na elementy programu. Sędziowie biorą pod uwagę:<br>
                                -  poruszanie się zawodnika do rytmu,<br>
                                -  wyrażanie charakteru i treści muzyki,<br>
                                -  odzwierciedlenie szczegółów i detali muzycznych.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                {{ 'footer'|trans }}
            </div>
        </div>
    </div>
{% endblock %}