{% extends 'base.html.twig' %}

{% block title %}
    Rules
{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="Łyżwiarstwo figurowe">
                        Łyżwiarstwo figurowe
                    </a>
                </p>
                <p class="extra">~Soliści~</p>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Rozwiń nawigację</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ url('rules_index') }}" title="zasady">
                                            Zasady
                                        </a></li>
                                    <li><a href="#">Występy</a></li>
                                    <li><a href="#">Rankingi</a></li>
                                    <li><a href="#">Łyżwiarze</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="row log-in">
                        <a href="#" title="rejestracja">Rejestracja</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {#{{ 'auth.logout.label'|trans }}#}Logowanie
                            </a>
                        {% else %}
                            <a href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {#{{ 'auth.login.label'|trans }}#}Wyloguj
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row title">
                <p>Zasady</p>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active"><a href="#1zakladka" role="tab" data-toggle="tab">Informacje ogólne</a></li>
                        <li><a href="#2zakladka" role="tab" data-toggle="tab">Komponenty</a></li>
                        <li><a href="#3zakladka" role="tab" data-toggle="tab">System oceniania</a></li>
                        <li><a href="#4zakladka" role="tab" data-toggle="tab">4 ZAKŁADKA</a></li>
                        <li><a href="#5zakladka" role="tab" data-toggle="tab">5 ZAKŁADKA</a></li>
                        <li><a href="#6zakladka" role="tab" data-toggle="tab">6 ZAKŁADKA</a></li>
                    </ul>
                    <!-- Zawartość zakładek -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="1zakladka">
                            <p class="title">Zawody</p>
                            <p>
                                Każdy występ składa się z programu krótkiego (SP) i dowolnego (FS).  Mogą odbyć się one tego same dnia, pod warunkiem co najmniej 4-godzinnej przerwy pomiędzy nimi. Zasada ta nie dotyczy zawodów Grand Prix i zawodów ISU (Mistrzostw Europy, Mistrzostw Czterech Kontynentów oraz Mistrzostw Świata). Podczas tych turniejów programy odbywają się w innych dniach, ale muszą zostać ukończone w przeciągu trzech.  Maksymalnie czas trwania zawodów ISU to 7 dni. Przed ich rozpoczęciem muszą zostać zapewnione 2 dni na ćwiczenia praktyczne dla zawodników.  Łyżwiarze dopuszczeni do Mistrzostw Świata muszą być członkami ISU (Międzynarodowej Unii Łyżwiarskiej). Zawodnicy mogący konkurować w Mistrzostwach Europy muszą należeć do europejskiego ISU, a w Mistrzostwach Czterech Kontynentów startują sportowcy z pozaeuropejskiego ISU.
                            </p>
                            <p class="title">Przebieg zawodów</p>
                            <p>
                                Przed rozpoczęciem zawodów każdy uczestnik musi dostarczyć osobne płyty CD z nagraną muzyką do każdego z programów oraz listę elementów, które planują wykonać podczas swojego występu. Kolejność zawodników podczas programu krótkiego jest rozstrzygana poprzez losowanie lub zależy od miejsc, jakie łyżwiarze zajęli podczas poprzednich ważnych zawodów. Sposób, jaki zostanie zastosowany, powinien zostać wcześniej podany przez organizatorów. Tylko osoby, które zajęły miejsce z przedziału 1-24 zostaną zakwalifikowali do programu dowolnego. W przypadku remisu na miejscu dwudziestym czwartym wszyscy łyżwiarze na tej pozycji zostaną dopuszczeni do drugiego etapu. Kolejność, w jakiej wystąpią, zależeć będzie od punktów, które zdobyli podczas programu krótkiego.
                            </p><p>
                                Podczas obu programów zawodnicy dzieleni są na równe grupy, a ta zawierająca uczestników z najmniejszą liczbą punktów jedzie pierwsza, następna druga itd. Jeśli jacyś zawodnicy mają taką samą liczbę punktów po programie krótkim powinni jechać w tej samej grupie w dowolnym.
                            </p><p>
                                W przypadku zawodów ISU lub Olimpiady Zimowej zawodnicy z dwóch ostatnich grup (tj. najlepszej i drugiej najlepszej) zostają podzieleni na 4 podgrupy.  W pierwszej znajdą się łyżwiarze z miejsc 1, 2 i 3, w drugiej 4, 5, 6, w trzeciej 7, 8, 9 i w czwartej 10, 11 i 12. Kolejność w jakiej będą występować zostanie wybrana poprzez losowanie pomiędzy członkami każdej podgrupy, a grupy będą startować od 4 do 1.                        </p>
                            </p>
                        </div>
                        <div class="tab-pane" id="2zakladka">Zawartość drugiej zakładki</div>
                        <div class="tab-pane" id="3zakladka">Zawartość trzeciej zakładki</div>
                        <div class="tab-pane" id="4zakladka">Zawartość czwartej zakładki</div>
                        <div class="tab-pane" id="5zakladka">Zawartość piątej zakładki</div>
                        <div class="tab-pane" id="6zakladka">Zawartość szóstej zakładki</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                EPI praca licencjacka 2018. Projekt i realizacja: Kinga Bożęcka.
            </div>
        </div>
    </div>
{% endblock %}