{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="{{ 'figure_skating'|trans }}">
                        {{ 'figure_skating'|trans }}
                    </a>
                </p>
                <p class="extra">{{ 'soloists'|trans }}</p>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">{{ 'open.nav'|trans }}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{{ url('rules_index') }}" title="{{ 'menu.rules'|trans }}">
                                            {{ 'menu.rules'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('video_index') }}" title="{{ 'menu.performances'|trans }}">
                                            {{ 'menu.performances'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('skater_index') }}" title="{{ 'menu.skaters'|trans }}">
                                            {{ 'menu.skaters'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="admin">
                                <a class="AdminPanel" href="{{ url('user_index') }}" title="{{ 'label.admin'|trans }}">
                                    {{ 'label.admin'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a  class="aLogIn" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                <a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">
                                    {{ app.user.username }}
                                </a>
                                ,
                            </p>
                        {% else %}
                            <a class="aLogIn" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a class="aLogIn" href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row rule">
                <div class="shadow-rules">
                    <div class="title">
                        {{ 'add_video'|trans }}
                    </div>
                </div>
            </div>
            <div class="container delete_comment">
                {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
                {% if error is defined and error|length %}
                    {% include 'default/_single_alert_message.html.twig' with {
                        is_single_message: true,
                        is_dismissible: false,
                        type: 'danger',
                        message: error,
                    } %}
                {% endif %}
                <section class="outer-wrapper">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                            <div class="akcje">
                                <div class="form">
                                    {{ form_start(form, { method: 'post', action: url('video_add') }) }}

                                    {{ form_label(form.link) }}
                                    {{ form_widget(form.link) }}
                                    {{ form_label(form.img_video_yt) }}
                                    {{ form_widget(form.img_video_yt) }}
                                    {{ form_label(form.title) }}
                                    {{ form_widget(form.title) }}
                                    {{ form_label(form.championship) }}
                                    {{ form_widget(form.championship) }}
                                    {{ form_label(form.year_championship) }}
                                    {{ form_widget(form.year_championship) }}
                                    {{ form_label(form.type) }}
                                    {{ form_widget(form.type) }}
                                    {{ form_label(form.song) }}
                                    {{ form_widget(form.song) }}
                                    {{ form_label(form.skaters_id) }}
                                    {{ form_widget(form.skaters_id) }}


                                </div>
                                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
                                {{ form_end(form) }}
                                <div class="col-md-1 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-4  col-xs-offset-0 back_div">
                                    <a class="back" href="{{ url('video_index') }}" title="{{ 'back.to.list'|trans }}">
                                        {{ 'back.to.list'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                {{ 'footer'|trans }}
            </div>
        </div>
    </div>
{% endblock %}