{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="{{ 'figure_skating'|trans }}">
                        {{ 'figure_skating'|trans }}
                    </a>
                </p>
                <p class="extra">
                    <a href="{{ url('main_index') }}" title="{{ 'soloists'|trans }}">
                        {{ 'soloists'|trans }}
                    </a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">{{ 'open.nav'|trans }}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{{ url('rules_index') }}" title="{{ 'menu.rules'|trans }}">
                                            {{ 'menu.rules'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('video_index') }}" title="{{ 'menu.performances'|trans }}">
                                            {{ 'menu.performances'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('skater_index') }}" title="{{ 'menu.skaters'|trans }}">
                                            {{ 'menu.skaters'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="admin">
                                <a class="AdminPanel" href="{{ url('user_index') }}" title="{{ 'label.admin'|trans }}">
                                    {{ 'label.admin'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a  class="aLogIn" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                <a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">
                                    {{ app.user.username }}
                                </a>
                                ,
                            </p>
                        {% else %}
                            <a class="aLogIn" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a class="aLogIn" href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row rule">
                <div class="shadow-rules">
                    <div class="title">
                        {% if video|length %}
                            {{ video.championship }} {{ video.year_championship }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="message">
                    {% include 'default/_flash_messages.html.twig' %}
                </div>
                <div class=row">
                    {% if video|length %}
                        <div class="movie_film">
                            <div class="movie">
                                <iframe width="683" height="384" src="{{ video.link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="info">
                            <div class="video_skater">
                                {% if skater|length %}
                                    <p>{{ skater.0.name }}, {{ video.type }}</p>
                                {% endif %}
                            </div>
                            <div class="song">
                                <p>{{ 'to_song'|trans }} {{ video.song }}.</p>
                            </div>

                            <div class="rating">
                                <div class="box">
                                    {#{{ dump(average_rating.average_rate) }}#}
                                    {%  if video.average_rating != NULL %}
                                        <p>{{ video.average_rating }} /5</p>
                                    {% else %}
                                        <p>0.00 /5</p>
                                    {% endif %}
                                </div>
                                <div class="rate_by">
                                    <p>{{ 'rated_by'|trans }} {{ ratedBy.howMany }}
                                        {% if ratedBy.howMany == 1 %}
                                            {{ 'user'|trans }}
                                        {% else %}
                                            {{ 'users'|trans }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="rating_form">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {% if video_is_rated == false %}
                                        <div class="rating_name">
                                            <p>{{ 'your_opinion'|trans }}</p>
                                        </div>
                                        <div class="name">
                                            {% if video|length %}
                                                {{ form_start(form_rating, { method: 'post', action: url('video_view', {'id':id}) }) }}
                                                <div class="form_input">
                                                    {{ form_widget(form_rating.rate, { 'value': '' }) }}
                                                </div>
                                                <div class="save_button">
                                                    <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />

                                                </div>
                                                {{ form_end(form_rating) }}
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="videoAlreadyRated">
                                            <p>{{ 'perfomence_already_rated'|trans }}</p>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="videoAlreadyRated">
                                        <p>{{ 'log_in_to_comments'|trans }}</p>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="skater_button">
                                <a href="{{ url('skater_view', {'id': video.skaters_id}) }}" title="{{ 'label.see_Skater'|trans }}">
                                    {{ 'see_skater'|trans }}
                                </a>
                            </div>
                            <div class="date">
                                <p>{{ 'date_adding'|trans }} {{ video.date_add }}</p>
                            </div>
                        </div>

                    {% else %}
                        <div>
                            {{ 'no_video_found'|trans }}
                        </div>
                    {% endif %}
                </div>
                <div class="row ko">
                    <div class="comments">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="title">
                                <p>{{ 'comments'|trans }} </p>
                            </div>
                        {% else %}
                            {% if paginator.data|length %}
                                <div class="title">
                                    <p>{{ 'comments'|trans }}</p>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="add_comment">
                                {% if video|length %}
                                    {{ form_start(form_comment, { method: 'post', action: url('video_view', {'id':id}) }) }}
                                    {{ form_widget(form_comment.text, { 'value': '' }) }}
                                    <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success"/>
                                    {{ form_end(form_comment) }}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if paginator.data|length %}
                            {% for line in paginator.data %}
                                <div class="row comment">
                                    <div class="col-md-3 col-sm-3 col-xs-12 login">
                                        <div class="login2">
                                            {{ line.login }}
                                        </div>
                                        <div class="date">
                                            {{ line.date_adding }}
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 text">
                                        {{ line.text }}
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12 link">
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') and user_id==line.users_id or is_granted('ROLE_ADMIN')%}
                                            <a class="edit" href="{{ url('comment_delete', {'id': line.id, 'videoId': line.video_id}) }}" title="{{ 'delete'|trans }}">
                                                {{ 'delete'|trans }}
                                            </a>
                                            <a class="edit" href="{{ url('comment_edit', {'id': line.id, 'videoId': line.video_id}) }}" title="{{ 'edit'|trans }}">
                                                {{ 'edit'|trans }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% if paginator.data|length %}
                    {% include 'default/_paginator_view.html.twig' with {
                        paginator: paginator,
                        route_name: 'video_view',
                    } %}
                {% endif %}
                <div class="col-md-2 col-sm-2 col-xs-2 skater_view">
                    <a class="back" href="{{ url('video_index') }}" title="{{ 'back.to.list'|trans }}">
                        {{ 'back.to.list'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                {{ 'footer'|trans }}
            </div>
        </div>
    </div>
{% endblock %}