{% extends 'base.html.twig' %}

{% block title %}
    Łyżwiarstwo figurowe ~Soliści~
{% endblock %}

{% block body %}
    <div class="all">
        <div class="container header">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="Łyżwiarstwo figurowe">
                        Łyżwiarstwo figurowe
                    </a>
                </p>
                <p class="extra">~Soliści~</p>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Rozwiń nawigację</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ url('rules_index') }}" title="zasady">
                                            Zasady
                                        </a></li>
                                    <li><a href="{{ url('video_index') }}" title="występy">
                                            Występy
                                        </a></li>
                                    <li><a href="#">Rankingi</a></li>
                                    <li><a href="{{ url('skater_index') }}" title="występy">
                                            Łyżwiarze
                                        </a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="admin">
                                <a class="AdminPanel" href="{{ url('user_index') }}" title="{{ 'label.admin'|trans }}">
                                    {{ 'label.admin'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a  class="aLogIn" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                <a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">
                                    {{ app.user.username }}
                                </a>
                                ,
                            </p>
                        {% else %}
                            <a class="aLogIn" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a class="aLogIn" href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row rule">
                <div class="shadow-rules">
                    <div class="title">
                        {#{% if video|length %}#}
                            Video
                        {#{% endif %}#}
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="message">
                    {% include 'default/_flash_messages.html.twig' %}
                </div>
                <div class=row">
                    {% if video|length %}
                        <div class="col-md-8 col-sm-8 col-xs-12 movie">
                            <div class="movie">
                                <iframe width="683" height="384" src="{{ video.link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-3 col-xs-12 info">
                            <div class="championship">
                                <p>{{ video.championship }} {{ video.year_championship }}</p>
                            </div>
                            <div class="video_skater">
                                {% if skater|length %}
                                    <p>{{ skater.0.name }}, {{ video.type }}</p>
                                {% endif %}
                            </div>
                            <div class="song">
                                <p>do piosenki {{ video.song }}.</p>
                            </div>
                            <div class="rating">
                                <div class="box">
                                    <p>{{ video.average_rating }}</p>
                                </div>
                                <div class="name">
                                    <p>oceń występ</p>
                                </div>
                                <div class="stars">

                                </div>
                            </div>
                            <div class="skater_button">
                                <a href="{{ url('skater_view', {'id': video.skaters_id}) }}" title="{{ 'label.see_Skater'|trans }}">
                                    zobacz łyżwiarza
                                </a>
                            </div>
                            <div class="date">
                                <p>data dodania: {{ video.date_add }}</p>
                            </div>
                        </div>

                    {% else %}
                        <div>
                            No video found!
                        </div>
                    {% endif %}
                </div>
                <div class="row ko">
                    <div class="comments">
                        <div class="title">
                            <p>Komentarze: </p>
                        </div>

                        <div class="add_comment">
                            {% if video|length %}
                                {{ form_start(form_comment, { method: 'post', action: url('video_view', {'id':id}) }) }}
                                {{ form_widget(form_comment) }}
                                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
                                {{ form_end(form_comment) }}
                            {% endif %}
                        </div>

                        {% if comments|length %}
                            {% for row in comments %}
                                <div class="row comment">
                                    <div class="col-md-3 col-sm-3 col-xs-3 login">
                                        <div class="login2">
                                            {{ row.login }}
                                        </div>
                                        <div class="date">
                                            {{ row.date_adding }}
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 text">
                                        {{ row.text }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                EPI praca licencjacka 2018. Projekt i realizacja: Kinga Bożęcka.
            </div>
        </div>
    </div>
{% endblock %}