{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="{{ 'figure_skating'|trans }}">
                        {{ 'figure_skating'|trans }}
                    </a>
                </p>
                <p class="extra">{{ 'soloists'|trans }}</p>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">{{ 'open.nav'|trans }}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{{ url('rules_index') }}" title="{{ 'menu.rules'|trans }}">
                                            {{ 'menu.rules'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('video_index') }}" title="{{ 'menu.performances'|trans }}">
                                            {{ 'menu.performances'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('skater_index') }}" title="{{ 'menu.skaters'|trans }}">
                                            {{ 'menu.skaters'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="admin">
                                <a class="AdminPanel" href="{{ url('user_index') }}" title="{{ 'label.admin'|trans }}">
                                    {{ 'label.admin'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a  class="aLogIn" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                <a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">
                                    {{ app.user.username }}
                                </a>
                                ,
                            </p>
                        {% else %}
                            <a class="aLogIn" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a class="aLogIn" href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row baner">
                <div class="shadow-image">
                    <div class="container">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="title">
                                    {{ 'near_competitions'|trans }}
                                </div>
                                <div class="container-fluid counter">
                                    <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-4 first">
                                        <p id="days"></p>
                                    </div>
                                    <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-4 second">
                                        <p id="hours"></p>
                                    </div>
                                    <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-4 third">
                                        <p id="minutes"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="data">
                                        <div class="first">
                                            <p id="days-title">{{ 'stoper.days'|trans }}</p>
                                        </div>
                                        <div>
                                            <p id="hours-title">{{ 'stoper.hours'|trans }}</p>
                                        </div>
                                        <div>
                                            <p id="minutes-title">{{ 'stoper.minutes'|trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main">
            <div class="row">
                <div class="title">
                    {{ 'label.newest'|trans }}
                </div>
                <div class='col-md-12 col-sm-12 col-xs-12'>
                    <div class="carousel slide media-carousel" data-interval="false" id="media">
                        <div class="carousel-inner">
                            {% set counter = 0 %}
                            {% if video|length %}
                                {% for item in video %}
                                    {% if counter == 0 %}
                                        <div class="item active">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                    <img src="{{ item.img_video_yt }}" alt="">
                                                    <div class = "caption">
                                                        <p>{{ item.title }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                    {% elseif counter % 4 == 0 and counter != 0 %}
                                            <div class="item">
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                        <img src="{{ item.img_video_yt }}" alt="">
                                                        <div class = "caption">
                                                            <p>{{ item.title }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                    {% elseif counter % 4 == 1 or counter % 4 == 2 %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                    <img src="{{ item.img_video_yt }}" alt="">
                                                    <div class = "caption">
                                                        <p>{{ item.title }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                    {% else %}
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                    <img src="{{ item.img_video_yt }}" alt="">
                                                    <div class = "caption">
                                                        <p>{{ item.title }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if VideoInSlideShow %4 !=0 and VideoInSlideShow - 1 == counter %}
                                        </div>
                                    {% endif %}
                                    {% set counter = counter +1 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a class="left carousel-control" href="#media" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#media" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="title">
                    {{ 'label.popular_video'|trans }}
                </div>
                <div class='col-md-12 col-sm-12 col-xs-12'>
                    <div class="carousel slide media-carousel" data-interval="false" id="media2">
                        <div class="carousel-inner">
                            {% set counter = 0 %}
                            {% if video_popular|length %}
                                {% for item in video_popular %}
                                    {% if counter == 0 %}
                                        <div class="item active">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                <img src="{{ item.img_video_yt }}" alt="">
                                                <div class = "caption">
                                                    <p>{{ item.title }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    {% elseif counter % 4 == 0 and counter != 0 %}
                                        <div class="item">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                <img src="{{ item.img_video_yt }}" alt="">
                                                <div class = "caption">
                                                    <p>{{ item.title }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    {% elseif counter % 4 == 1 or counter % 4 == 2 %}
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                <img src="{{ item.img_video_yt }}" alt="">
                                                <div class = "caption">
                                                    <p>{{ item.title }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a class="fancybox thumbnail" rel="gallery1" href="{{ url('video_view', {'id': item.id}) }}">
                                                <img src="{{ item.img_video_yt }}" alt="">
                                                <div class = "caption">
                                                    <p>{{ item.title }}</p>
                                                </div>
                                            </a>
                                        </div>
                                        </div>
                                    {% endif %}
                                    {% if VideoInSlideShow %4 !=0 and VideoInSlideShow - 1 == counter %}
                                        </div>
                                    {% endif %}
                                    {% set counter = counter +1 %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <a class="left carousel-control" href="#media2" role="button" data-slide="prev">
                            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#media2" role="button" data-slide="next">
                            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row skaters">
                <div class="title">
                    {{ 'label.popular_skaters'|trans }}
                </div>
                {% if skaters.data|length %}
                    {% for row in skaters.data %}
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <a href="{{ url('skater_view', {'id': row.id}) }}">
                               {#title="{{ 'label.view'|trans }}">#}
                                <div class="photo_main">
                                    <div class="name centered">{{ row.name }}</div>
                                    <img src="{{ row.img }} " />
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="more">
                    <a href="{{ url('skater_index') }}" title="Zobacz więcej">
                        {{ 'label.see.more'|trans }} <span class="fas fa-angle-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                {{ 'footer'|trans }}
            </div>
        </div>
    </div>
{% endblock %}