{% extends 'base.html.twig' %}

{% block title %}
    Main page
{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="Łyżwiarstwo figurowe">
                        Łyżwiarstwo figurowe
                    </a>
                </p>
                <p class="extra">~Soliści~</p>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Rozwiń nawigację</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ url('rules_index') }}" title="zasady">
                                        Zasady
                                    </a></li>
                                    <li><a href="#">Występy</a></li>
                                    <li><a href="#">Rankingi</a></li>
                                    <li><a href="#">Łyżwiarze</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="row log-in">
                        {#<nav class="navbar navbar-default">#}
                            {#<div class="container-fluid">#}
                                {#<div class="btn-group pull-right" role="group" aria-label="{{ 'label.actions'|trans }}">#}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {#{{ 'auth.logout.label'|trans }}#}Logowanie
                            </a>
                            <a href="#" title="rejestracja">Rejestracja</a>
                        {% else %}
                            <a href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {#{{ 'auth.login.label'|trans }}#}Wyloguj
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                {#<a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">#}
                                {#{{ app.user.username }}#}
                                {#</a>#}
                                ,
                            </p>
                        {% endif %}
                                {#</div>#}
                            {#</div>#}
                        {#</nav>#}
                        {#<a href="#" title="logowanie">Logowanie</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row baner">
                <div class="shadow-image">
                    Chcesz dowiedzieć się więcej na temat łyżwiarstwa figurowego? <br>U nas poznasz zasady, jakimi rządzi się ten sport,
                    obejrzysz występy z zawodów oraz zapoznasz się z informacjami o samych łyżwiarzach.<br>
                    Zapraszamy.
                </div>
            </div>
        </div>
        <div class="container main">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="title">
                            Najnowsze:
                        </div>
                        <div class='col-md-12 col-sm-12 col-xs-12'>
                            <div class="carousel slide media-carousel" data-interval="false" id="media">
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#media" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#media" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            Najpopularniejsze:
                        </div>
                        <div class='col-md-12 col-sm-12 col-xs-12'>
                            <div class="carousel slide media-carousel" data-interval="false" id="media2">
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Czterech Kontynetów 2017, Yuzuru Hanyu, SP</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <a class="fancybox thumbnail" rel="gallery1" href="https://www.youtube.com/watch?v=23EfsN7vEOA">
                                                    <img src="https://i.ytimg.com/vi/23EfsN7vEOA/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAur6c67CYem9H7O6z1sSg28iQfUg" alt="">
                                                    <div class = "caption">
                                                        <p>Mistrzostwa Świata 2018, Yuzuru Hanyu, SP.</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#media2" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#media2" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 right-column">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="title">
                                Do Rostelecom Cup zostało:
                               </div>
                            <div class="container-fluid counter">
                                <div class="col-md-4 col-sm-4 col-xs-4 first">
                                    <p id="days"></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p id="hours"></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p id="minutes"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid">
                                <div class="data">
                                    <div class="first">
                                        <p id="days-title">dni</p>
                                    </div>
                                    <div>
                                        <p id="hours-title">godzin</p>
                                    </div>
                                    <div>
                                        <p id="minutes-title">minut</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12 curiosities">
                        <div class="container-fluid">
                            <div class='row'>
                                <div class='col-md-12'>
                                    <div class="title">Czy wiesz, że:</div>
                                    <div class="carousel slide" data-ride="carousel" id="media3">
                                        <!-- Bottom Carousel Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                                            <li data-target="#quote-carousel" data-slide-to="3"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <img src="https://i.imgur.com/OsLLCMb.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <img src="https://i.imgur.com/2VnphAQ.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <img src="https://i.imgur.com/0S8CFlK.png" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <img src="https://i.imgur.com/rINwTVD.png" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Carousel Buttons Next/Prev -->
                                        <a class="left carousel-control" href="#media3" role="button" data-slide="prev">
                                            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#media3" role="button" data-slide="next">
                                            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <a href="{{ url('rules_index') }}" title="Dowiedz się więcej">Dowiedz się więcej <span class="fas fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row skaters">
                <div class="title">
                    Najpopularniejsi łyżwiarze:
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a title="Zobacz łyżwiarza" href="#">
                        <div class="skater jeden">
                            <div class="shadow">
                                <div class="name">Javier<br>Fernandez</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a title="Zobacz łyżwiarza" href="#">
                        <div class="skater dwa">
                            <div class="shadow">
                                <div class="name">Yuzuru<br>Hanyu</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a title="Zobacz łyżwiarza" href="#">
                        <div class="skater trzy">
                            <div class="shadow">
                                <div class="name">Misha<br>Ge</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a title="Zobacz łyżwiarza" href="#">
                        <div class="skater cztery">
                            <div class="shadow">
                                <div class="name">Nathan<br>Chen</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a title="Zobacz łyżwiarza" href="#">
                        <div class="skater piec">
                            <div class="shadow">
                                <div class="name">Jin<br>Boyang</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a title="Zobacz łyżwiarza" href="#">
                        <div class="skater szesc">
                            <div class="shadow">
                                <div class="name">Mikhail<br>Kolyada</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="more">
                    <a title="Zobacz więcej" href="#">Zobacz więcej <span class="fas fa-angle-right"></span></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                EPI praca licencjacka 2018. Projekt i realizacja: Kinga Bożęcka.
            </div>
        </div>
    </div>
{% endblock %}