{% extends 'base.html.twig' %}

{% block title %}
    Łyżwiarstwo figurowe ~Soliści~
{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="Łyżwiarstwo figurowe">
                        Łyżwiarstwo figurowe
                    </a>
                </p>
                <p class="extra">~Soliści~</p>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Rozwiń nawigację</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ url('rules_index') }}" title="zasady">
                                            Zasady
                                        </a></li>
                                    <li><a href="{{ url('video_index') }}" title="występy">
                                            Występy
                                        </a></li>
                                    <li><a href="#">Rankingi</a></li>
                                    <li><a href="{{ url('skater_index') }}" title="występy">
                                            Łyżwiarze
                                        </a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                {#<a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">#}
                                {{ app.user.username }}
                                {#</a>#}
                                ,
                            </p>
                        {% else %}
                            <a href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row title">
                <p>Łyżwiarze</p>
            </div>
        </div>

        <div class="container">
            <div class="message">
                {% include 'default/_flash_messages.html.twig' %}
            </div>
            {% if skater|length %}
                {% for row in skater %}
                    {#<div class="images">#}

                    {#</div>#}
                    <p>{{ row.name|upper }} {{ row.surname|upper }} {{ row.date_of_birth|upper }}</p>
                    <div class="link">
                        {#<a class="edit" href="{{ url('month_delete', {'id': row.id}) }}" title="{{ 'index_month_delete'|trans }}">#}
                            {#<span class="fa fa-times-circle"></span>#}
                        {#</a>#}
                        {#<a class="edit" href="{{ url('month_edit', {'id': row.id}) }}" title="{{ 'index.edit2'|trans }}">#}
                            {#{{ 'index.edit'|trans }}#}
                        {#</a>#}
                        <a class="edit" href="{{ url('skater_view', {'id': row.id}) }}" title="{{ 'label.view2'|trans }}">
                            zobacz więcej
                        </a>
                    </div>



                {% endfor %}
            {% endif %}
        </div>

        <div class="container-fluid">
            <div class="row footer">
                EPI praca licencjacka 2018. Projekt i realizacja: Kinga Bożęcka.
            </div>
        </div>
    </div>
{% endblock %}