{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block body %}
    <div class="all">
        <div class="container">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="{{ 'figure_skating'|trans }}">
                        {{ 'figure_skating'|trans }}
                    </a>
                </p>
                <p class="extra">{{ 'soloists'|trans }}</p>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">{{ 'open.nav'|trans }}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="{{ url('rules_index') }}" title="{{ 'menu.rules'|trans }}">
                                            {{ 'menu.rules'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('video_index') }}" title="{{ 'menu.performances'|trans }}">
                                            {{ 'menu.performances'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('skater_index') }}" title="{{ 'menu.skaters'|trans }}">
                                            {{ 'menu.skaters'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="admin">
                                <a class="AdminPanel" href="{{ url('user_index') }}" title="{{ 'label.admin'|trans }}">
                                    {{ 'label.admin'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a  class="aLogIn" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                <a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">
                                    {{ app.user.username }}
                                </a>
                                ,
                            </p>
                        {% else %}
                            <a class="aLogIn" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a class="aLogIn" href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row rule">
                <div class="shadow-rules">
                    <div class="title">
                        {{ skater.name }}
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="message">
                    {% include 'default/_flash_messages.html.twig' %}
                </div>
                {% if skater|length %}
                    <div class="row">
                        <div class="col-md-5 col-sm-4 col-xs-12">
                            <div class="image">
                                <img src="{{ skater.img }} " />
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-8 col-xs-12 info_skater">
                            <div class="personal_data">
                                <p>{{ 'label.date_of_birth'|trans }}: {{ skater.date_of_birth }}</p>
                                <p>{{ 'label.country_repr'|trans }}: {{ skater.country_repr }}</p>
                                <p>{{ 'label.birth_place'|trans }}: {{ skater.birth_place }}</p>
                                <p>{{ 'label.height'|trans }}: {{ skater.height }} cm</p>
                                <p>{{ 'label.couch'|trans }}: {{ skater.couch }}</p>
                            </div>
                            <div class="biography">
                                <p>{{ skater.info }}</p>
                            </div>
                            <div class="records">
                                <div class="title">
                                    <p>{{ 'life_records'|trans }}:</p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="record">
                                        <p>{{ 'short_program2'|trans }}</p>
                                        <p class="number">{{ skater.short_record }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="record">
                                        <p>{{ 'free_program2'|trans }}</p>
                                        <p class="number">{{ skater.free_record }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="record">
                                        <p>{{ 'total_note'|trans }}</p>
                                        <p class="number">{{ skater.total_record }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row video">
                        {% if paginator.data|length %}
                            <div class="title">
                                <p>{{ 'his_video'|trans }}</p>
                            </div>
                            {% for row in paginator.data %}
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="{{ url('video_view', {'id': row.id}) }}" title="{{ 'label.view'|trans }}">
                                        <div class="image_video_skater">
                                            <div class="image">
                                                <img src="{{ row.img_video_yt }} " />
                                                {% if is_granted('ROLE_ADMIN')%}
                                                    <div class="icons">
                                                        <a class="icon cog" href="{{ url('video_edit', {'id': row.id}) }}" title="{{ 'edit'|trans }}">
                                                            <span class="fa fa-cog"></span>
                                                        </a>
                                                        <a class="icon trash" href="{{ url('video_delete', {'id': row.id}) }}" title="{{ 'edit'|trans }}">
                                                            <span class="fa fa-trash"></span>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <p>{{ row.title }}</p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <div>
                        {{ 'No_skater_found'|trans }}
                    </div>
                {% endif %}
                {% include 'default/_paginator_view.html.twig' with {
                    paginator: paginator,
                    route_name: 'skater_view_paginated',
                } %}
                <div class="col-md-2 col-sm-2 col-xs-2 skater_view">
                    <a class="back" href="{{ url('skater_index') }}" title="{{ 'back.to.list'|trans }}">
                        {{ 'back.to.list'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                {{ 'footer'|trans }}.
            </div>
        </div>
    </div>
{% endblock %}