{% extends 'base.html.twig' %}

{% block title %}
    Łyżwiarstwo figurowe ~Soliści~
{% endblock %}

{% block body %}
    <div class="all">
        <div class="container header">
            <div class="row logo">
                <p class="slogan">
                    <a href="{{ url('main_index') }}" title="Łyżwiarstwo figurowe">
                        Łyżwiarstwo figurowe
                    </a>
                </p>
                <p class="extra">~Soliści~</p>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- przycisk rozwijania mobilnego menu -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Rozwiń nawigację</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Grupowanie elementów menu w celu lepszego wyświetlania na urządzeniach moblinych -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ url('rules_index') }}" title="zasady">
                                            Zasady
                                        </a></li>
                                    <li><a href="{{ url('video_index') }}" title="występy">
                                            Występy
                                        </a></li>
                                    <li><a href="{{ url('skater_index') }}" title="występy">
                                            Łyżwiarze
                                        </a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row log-in">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="admin">
                                <a class="AdminPanel" href="{{ url('user_index') }}" title="{{ 'label.admin'|trans }}">
                                    {{ 'label.admin'|trans }}
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a  class="aLogIn" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                                {{ 'auth.logout.label'|trans }}
                            </a>
                            <p class="imie">
                                {{ 'hello'|trans }}
                                <a href="{{ url('user_panel', {'id': user_id}) }}" title="{{ 'label.panel'|trans }}">
                                    {{ app.user.username }}
                                </a>
                                ,
                            </p>
                        {% else %}
                            <a class="aLogIn" href="{{ url('auth_login') }}" title="{{ 'auth.login.label'|trans }}">
                                {{ 'auth.login.label'|trans }}
                            </a>
                            <a class="aLogIn" href="{{ url('auth_signup') }}" title="{{ 'auth.signup.label'|trans }}">
                                {{ 'auth.signup.label'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid rules">
            <div class="row rule">
                <div class="shadow-rules">
                    <div class="title">
                        Twój panel
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row user_data">
                    {% if user|length %}
                        <div class="dane">
                            <p>{{ 'label.login'|trans }}: {{ user.login }}</p>
                        </div>
                    {% else %}
                        <div>
                            {{ 'no_user'|trans }}
                        </div>
                    {% endif %}
                </div>
                <div class="row panel_buttony">
                    <div class="message">
                        {% include 'default/_flash_messages.html.twig' %}
                    </div>
                    <div class="panel_button">
                        <p class="wprzycisk">
                            <a href="{{ url('user_panel_edit', {'id': user.id}) }}" title="{{ 'label.change.data'|trans }}">
                                {{ 'label.change.data'|trans }}
                            </a>
                        </p>
                    </div>
                    <div class="panel_button">
                        <p class="wprzycisk">
                            <a href="{{ url('user_panel_edit_password', {'id': user.id}) }}" title="{{ 'label.change.password'|trans }}">
                                {{ 'label.change.password'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row your_comments">
                    <div class="title">Twoje komentarze:</div>
                    {% if user_comments|length %}
                        {% for line in user_comments %}
                            <div class="row comment">
                                <div class="col-md-3 col-sm-3 col-xs-3 login">
                                    <div class="date">
                                        {{ line.date_adding }}
                                    </div>
                                    <div class="login2">
                                        <p>Komentarz do: {{ line.title }}</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 text">
                                    {{ line.text }}
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1 link">
                                    <a class="edit" href="{{ url('comment_delete', {'id': line.id}) }}" title="{{ 'delete'|trans }}">
                                        {{ 'delete'|trans }}
                                    </a>
                                    <a class="edit" href="{{ url('comment_edit', {'id': line.id}) }}" title="{{ 'edit'|trans }}">
                                        {{ 'edit'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="powrot">
                    <a class="back" href="{{ url('main_index') }}" title="{{ 'back.to.list'|trans }}">
                        {{ 'back.to.list'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                EPI praca licencjacka 2018. Projekt i realizacja: Kinga Bożęcka.
            </div>
        </div>
    </div>
{% endblock %}
